
<div class="star-rating">
	<div class="back-stars">
		<span> &#9733;</span>
		<span> &#9733;</span>
		<span> &#9733;</span>
		<span> &#9733;</span>
		<span> &#9733;</span>
		<div class="front-stars" style="width: <%= percent %>%">
			<span> &#9733;</span>
			<span> &#9733;</span>
			<span> &#9733;</span>
			<span> &#9733;</span>
			<span> &#9733;</span>
		</div>
	</div>
</div>