<footer>
  <p>
    Copyright &copy; <%=Time.now.year %>
    <%= mail_to "Help", "support@moviesapp.net.com" %>
    <%= link_to 'The Pragmatic Studio', 'https://pragmaticstudio.com' %>
  </p>
</footer>